.skill {
    width: 450px;
    background-color: black;
    margin: 10px;
}

.container {
    display: flex;
    padding: 40px;
}

.iconContent {
   align-items: flex-start;
   color: rgba(246, 88, 0, 0.86);
   display: flex;
   flex-direction: row;
   font-size: 40px;
   justify-content: flex-start;
   margin-right: 30px;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: rgba(246, 88, 0, 0.86);
}

.content {
    margin-left: 15px;
    word-break: break-word;
}

.title {
    color: rgba(246, 88, 0, 0.86);
    font-size: 20px;
   margin: 0 0 20px 0;
}

.description {
    color: rgba(246, 88, 0, 0.86);
    font-size: 16px;
}