.homeBlock {
    height: 100vh;
    background-color: #191919;
}

.text {
    width: 300px;
    color: rgba(246, 88, 0, 0.86);
}

.photo {
    width: 300px;
    height: 400px;
    background: rgba(246, 88, 0, 0.86);
}

@media (max-width: 760px) {
   .text {
      text-align: center;
      padding-bottom: 40px;
   }
}