@import '../../common/style/sass/variables';

.projectContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 25px;
  width: 50vh;

  @media screen and (max-width: 833px) {
    width: 100%;
  }

  .portfolioProject {
    @media screen and (max-width: 833px) {
      height: 400px;
    }

    //background-position: 50%;
    border-radius: 5px;
    height: 70vh;
    width: 100%;
    z-index: 4;
    background-position: center;

    &:hover {
      transform: translateY(-5px);
      transition: 0.3s;
    }

    .projectPreview {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      transition: transform 0.28s ease;
      z-index: 3;
      height: 100%;
      width: 100%;
      position: relative;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      border-radius: 5px;

      &:hover {
        background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 32%, $primaryColor 100%);
        background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 32%, $primaryColor 100%);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 32%, $primaryColor 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr=$primaryColor, GradientType=1);
        opacity: 0.9;
      }

      .content {
        //@include positionBlocks(column, center, center);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 10px 30px 10px;

        .linkDemo {
          color: $textColor;
          padding: 0 23px;
          //height: 40px;
          display: inline-block;
          line-height: 34px;
          border: 2px solid $textColor;
          border-radius: 4px;
          font-size: 14px;
          position: relative;
          z-index: 2;

          &:hover {
            color: $bgHeader;
            border: 2px solid $bgHeader;
            background: $primaryColor;
            cursor: pointer;
          }
        }

        .projectTitle {
          margin: 0;
          color: $textColor;
          font-size: 16px;
          line-height: 1.4;
          //@include textStyle(16px, 1.4074);
          font-weight: 500;
          text-transform: uppercase;
          //&:hover {
          //  color: $textColor;
          //}
        }

        .projectDescription {
          font-size: 14px;
          line-height: 1.7;
          font-weight: 500;
          text-align: center;
          color: white;
          //@include textStyle(14px, 1.7);
          margin: 10px;
        }

        .buttonLink {
          display: flex;
          justify-content: space-between;
          margin-top: 35px;
          transition: 0.7s;

          & a {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
